<!--author: hemant choudhari:
heroku: https://morning-temple-29491.herokuapp.com/results
github: Hemantc09-->


<!DOCTYPE html>
<html>
    <head>
        <title>NextStar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"></link>
        <link rel="stylesheet" type="text/css" href="/stylesheets/queries.css">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">
    </head>
    <body>
    